<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Confirm Your Email</title>
</head>
{% block content %}
<body>
<div class="d-flex justify-content-center align-items-center">
    <div class="grandParentContainer">
        <div class="parentContainer">
            <form class="form-signin" method="post">
                <h1>Please Type the Email Verification Code Below:</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for="inputUsername">Enter Code:</label><input type="text" id="inputUsername" class="form-control"
                                                                  placeholder="Confirmation Code" name="code" required>
                <br>
                <button class="btn btn-success" type="submit">Confirm Code</button>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>