{% extends "layout.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">
        <h1 class="display-3">Cities Around the World</h1>
        <br>
        <p class="lead">
            Welcome to our website!
            <br><br>
            This website is about cities around the world.
            <br><br>
            Click the links on the Nav Bar or the buttons below to view the data records, the team page, and the raw
            data.
            <br><br>
            Finally, you can add new records using the "Add" button on the Nav Bar. You will also be able to view and
            edit your profile data by clicking on the "my profile" tab.
        </p>
        <a class="btn btn-dark" href="/records" role="button">View Records</a>
        <a class="btn btn-dark" href="/teampage" role="button">View TeamPage</a>
        <a class="btn btn-dark" href="/api/v1/cities" role="button">View Data</a>
    </div>
</div>
{% endblock %}