{% extends "layout.html" %}
{% block content %}
    <h1>Please enter your new Password</h1>
    <form action="/new-password" method="post">
        <div class="row">
            <div class="col">
                <label for="password">Enter New Password!</label>
                <input id="password" type="password" class="form-control" placeholder="password" name="password" required>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
        <br>
    <a href="/profile" class="card-link btn btn-secondary">Go Back!</a>


{% endblock %}