{% extends "layout.html" %}
{% block content %}

<div class="d-flex flex-row justify-content-center mb-3">
    <!-- Michael's card title -->
    <div class="col-3 mt-3">
        <div class="card" style="width: 18rem;">
            <img src="images/BackgroundPic.jpg" class="card-img-top" alt="Michael's Profile Picture">
            <div class="card-body">
                <h5 class="card-title">Michael Drozdowski</h5>
                <p class="card-text">Hello everyone, my name is Michael Drozdowski. I am a senior here at NJIT studying
                    information technology. I am currently enrolled in NJIT's BS/MS program, which allows me to take
                    masters courses, like this one, as an undergraduate student. I am taking this course to further my
                    skills in web development and become better at coding overall. Finally, I hope to continue learning website development throughout the semester.</p>
                <a href="https://www.linkedin.com/in/michael-drozdowski-2086a11b7/" class="btn btn-primary">View
                    Linkedin</a>
            </div>
        </div>
    </div>
        <!-- Stanley's card title -->
    <div class="card mt-3" style="width: 18rem;">
        <img src="images/DSC_0928.jpg" class="card-img-top" alt="Stanley's Profile Picture">
        <div class="card-body">
            <h5 class="card-title">Stanley Ordonez</h5>
            <p class="card-text">Hi everyone, my name is Stanley Ordonez. I am a first year Masters student at NJIT
                majoring in IS. I graduated with a BS in Computer Technology in Fall 2018. I am a part time student
                working full time as a Technology Consultant at Cognizant Technology Solutions. I'm happy to be back at
                NJIT so I can pursue my education and obtain a Master's degree so I can further develop my career path
                in the field of Technology.</p>
            <a href="https://www.linkedin.com/in/stanley-ordonez/" class="btn btn-primary">View Linkedin</a>
        </div>
    </div>
</div>


{% endblock %}